/* Estilização geral do site */
.app {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  background-color: #25282e;
  color: #f0f0f0;
  min-height: 100vh; /* Garante que o fundo cubra a altura toda da página */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Espaça conteúdo, mantendo o rodapé fixo embaixo */
}

.nav-button {
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  background-color: #6e7883;
  color: #f0f0f0;
  text-decoration: none;
  border-radius: 20px;
  border: 2px solid #495058;
}

.nav-button:hover {
  background-color: #939fae;
}

.suspects {
  background-color: #495058;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.suspect-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.suspect {
  text-align: center;
}

.suspect img {
  width: 200px;  /* Aumenta a largura da imagem */
  height: 200px;  /* Aumenta a altura da imagem */
  border-radius: 10px;
  margin-bottom: 5px;
}

.suspect p {
  margin: 0;
  color: #f0f0f0;
}

.object-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.object {
  text-align: center;
}

.object img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.object p {
  margin: 0;
  color: #f0f0f0;
}

.object:hover {
  background-color: #939fae;
  cursor: pointer;
}

.clue {
  margin: 10px;
  padding: 10px;
  background-color: #25282e;
  color: #f0f0f0;
  border: 1px solid #495058;
}

.mystery {
  margin-top: 20px;
}

/* Rodapé fixo */
footer {
  background-color: #495058;
  padding: 10px 0;
  text-align: center;
  color: #f0f0f0;
  margin-top: auto; /* Garante que o rodapé ficará no final da página */
}

/* Título "Detetive Virtual" */
h1 {
  font-size: 3rem;
  margin-top: 20px;
  color: #f0f0f0;
}
